{{#> base}}
  {{#*inline "content"}}
    <div role="article" aria-label="Password Reset Instructions">
      <h1>Password Reset Request</h1>
      
      <p>Hello{{#if name}} {{name}}{{/if}},</p>
      
      <p>We received a request to reset your password for your Gradiant account. For your security, this link will expire in {{expiresIn}}.</p>
      
      <div style="text-align: center;">
        <a href="{{resetUrl}}" class="button" role="button" aria-label="Reset your password">
          Reset Password
        </a>
      </div>
      
      <p><strong>Security Notice:</strong> If you didn't request this password reset, please:</p>
      <ol>
        <li>Ignore this email - your account is still secure</li>
        <li>Consider reviewing your account's recent activity</li>
        <li><a href="{{supportUrl}}" aria-label="Contact our support team">Contact our support team</a> if you have concerns</li>
      </ol>
      
      <div style="margin-top: 24px; padding-top: 24px; border-top: 1px solid #eaeaea;">
        <p style="font-size: 14px; color: #666666;">
          For your security:
          <ul style="margin-top: 8px;">
            <li>This link can only be used once</li>
            <li>It will expire in {{expiresIn}}</li>
            <li>We never ask for your password via email</li>
          </ul>
        </p>
      </div>
    </div>
  {{/inline}}
{{/base}} 